body {
	font-family: 'Pontano Sans', sans-serif;
}

h2 {
	font-size: 2em;
	text-align: center;
	padding-bottom: 20px;
}

.navbar {
	background: #3E454C;
	border: none;
	padding: 0;	
}

.navbar img {
	padding: 5px 0 0 0;
	height: 40px;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #DDD;
}

.navbar-collapse {
	background: #3E454C;
	opacity: 0.8;
}

#logo {
	margin: 70px auto 10px;
	display: block;
}

header {
	height: 450px;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	background: url(../img/galeria/angry-bird-01.jpg) no-repeat;
	background-size: cover;
	padding: 100px 20px 0;
}

header h1 {
	color: #fff;
	font-size: 3em;
	text-align: left;
	text-shadow: 2px 2px #333;
}

#destaque {
	background: #FFF6E5;
	padding: 20px;
}

#destaque .image img {
	width: 100%;
}

#destaque .call-to-action {
	padding-top: 20px;
	text-align: center;
}

#contato {
	padding: 20px 20px 80px;
	background: #2185C5;
	display: block;
	color: #fff;
}

#contato .foto {
	text-align: center;
}

#contato .foto img {
	width: 120px;
	border-radius: 60px;
	margin-bottom: 20px;
}

#contato .contatos,
#contato .contatos a {
	margin: 10px 0;
	font-size: 1.2em;
	font-weight: 700;
	color: #fff;
	line-height: 28px;
}

#contato input,
#contato select,
#contato textarea {
	font-size: 1em;
	padding: 10px 7px;
}

#contato .btn{
	background: #FF7F66;
	float: right;
	padding: 10px 20px;
	color: #fff;
	font-weight: bold;
}

div.social a.social img {
	
}

div.social {
	position: fixed;
	right: 0;
	z-index: 10000;
	background-color: #3E454C;
	bottom: 0;
	width: 100%;
	text-align: center;
	z-index: 10000;
}

div.social span.social {
	display: none;
}

div.social a.social img {
	display: inline-block;
	padding: 5px 5px;
	width: 55px;
}

@media (min-width: 768px) {
	h2 {
		font-size: 3.3em;
		padding-bottom: 60px
	}

	.navbar {
		background: transparent;
		padding: 10px 0;	
		-webkit-transition: padding 1s, background 1s;
	}

	.navbar img  {
		padding: 0;
		height: 45px;
		display: inline-block;
	  overflow: hidden;
	  -webkit-transition: padding 1s, height 1s;
	}
	.navbar.affix {
		-webkit-transition: padding 1s, background 1s;
		background: #3E454C;
		padding: 0;	
		opacity: 1;
	}
	.navbar.affix img {
		padding: 5px 0 0 0;
		height: 40px;
		-webkit-transition: padding 1s, height 1s;
	}

	.navbar-default .navbar-nav>li>a {
		color: #333;
	}

	.navbar-default .navbar-nav>li>a:hover {
		color: #DDD;
	}

	.navbar.affix .navbar-nav>li>a {
		color: #fff;
	}

	.navbar-collapse {
		background: transparent;
		opacity: 1;
	}

	header {
		padding: 100px 60px;
		height: 500px;
		background-position: 0 0px;
		font-size: 2em;
		background-position: 0 -140px;
		height: 600px;
	}

	header h1 {
		font-size: 2em;
	}

	#destaque {
		padding: 60px;
	}

	#destaque .call-to-action {
		padding-top: 60px;
	}

	#destaque .call-to-action .btn {
		padding: 20px 40px;
		font-size: 2em;
	}

	#contato {
		padding: 60px;
	}

	#contato .foto {
		text-align: right;
	}

	#contato input,
	#contato select,
	#contato textarea {
		height: 46px;
		font-size: 1.2em;
		padding: 20px 7px;
	}

	#contato textarea {
		height: auto;
	}

	div.social {
		right: 0;
		bottom: 50%;
		width: 70px;
		padding: 0 5px;
	}

	div.social span.social {
		color: #fff;
		padding: 5px;
		display: block;
	}

	div.social a.social img {
		display: block;
		padding: 10px 5px;
		width: 60px;
	}
}

@media (min-width: 1199px) {
	header {
		background-position: 0 -140px;
		height: 700px;
	}
}