.navbar {
	background: #3E454C;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

#galeria {
	padding: 60px;
	background: #FFF6E5;
}

.image {
	margin-top: 15px;
	margin-bottom: 15px;
}

.image img {
	width: 100%;
}
@media (max-width: 767px) {
	.image {
		padding-bottom: 8%;
	}
	.image.portrait {
		padding-bottom: 20%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.video {
		display: none;
	}
	.row .col-sm-6 .image {
		height: 300px;
	}
	.row .col-sm-4 .image {
		height: 190px;
	}
	.row .col-sm-3 .image {
		height: 135px;
	}
	.row .col-sm-2 .image {
		height: 80px;
	}
	.row .col-sm-2 .image.portrait {
		height: 135px;
	}

	.row .row .col-sm-8 .image {
  		height: 190px;
  	}
	.row .row .col-sm-6 .image {
		height: 220px;
	}
	.row .col-sm-4 .row .col-sm-6 .image,
	.row .row .col-sm-4 .image {
		height: 80px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.video {
		display: none;
	}
	.row .col-sm-6 .image {
		height: 390px;
	}
	.row .col-sm-4 .image {
		height: 250px;
	}
	.row .col-sm-3 .image {
		height: 180px;
	}
	.row .col-sm-2 .image {
		height: 110px;
	}
	.row .col-sm-2 .image.portrait {
		height: 180px;
	}

	.row .row .col-sm-8 .image {
  		height: 250px;
  	}
	.row .row .col-sm-6 .image {
		height: 220px;
	}
	.row .col-sm-4 .row .col-sm-6 .image,
	.row .row .col-sm-4 .image {
		height: 110px;
	}
}
@media (min-width: 1200px) {
	.video {
		display: none;
	}
	.row .col-sm-6 .image {
		height: 465px;
	}
	.row .col-sm-4 .image {
		height: 300px;
	}
	.row .col-sm-3 .image {
		height: 218px;
	}
	.row .col-sm-2 .image {
		height: 135px;
	}
	.row .col-sm-2 .image.portrait {
		height: 220px;
	}
  
	.row .row .col-sm-8 .image {
		height: 300px;
	}
	.row .row .col-sm-6 .image {
    	height: 220px;
	}
	.row .col-sm-4 .row .col-sm-6 .image,
	.row .row .col-sm-4 .image {
    	height: 135px;
	}
}