.navbar {
	background: #3E454C;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

#galeria {
	padding: 20px;
	background: #FFF6E5;
}

#galeria h2 {
	padding-top: 40px;
}

.image {
	margin-top: 10px;
	margin-bottom: 10px;
}

.image img {
	width: 100%;
}

@media (min-width: 992px) {
	#galeria {
		padding: 60px;
	}

	.image {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
